@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.perfil{
    text-align: center
}

.perfil-info{
    margin-bottom: 30px;
}

.perfil-img-section{
    position: relative;
}

.perfil-img{
    width: 80%;
    max-width: 150px;
    
}

.perfil-img-linea{
    background-color: var(--secundary-color);
    height: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.perfil-titulo{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--primary-color);
}

.perfil-detalles{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 950px){

    .perfil{
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        
    }
    
    .perfil-info{
        margin-bottom: 0px;
    }
    
    .perfil-img{
        width: 100%;
        max-width: 350px;
        
    }
    
    .perfil-titulo {
        font-size: 60px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        margin: 0;
        color: var(--primary-color);
    }

    .perfil-detalles{
        font-size: 25px;
        font-weight: 500;
        line-height: 1.5;
        max-width: 450px;
        margin: 30px 0;
    }
    
}

