.formacion{
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
}

.formacion-titulo{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.formacion-tabla{
    display: flex;
    justify-content: space-between;
}

.carrera{
    flex-direction: column;
    box-shadow: 0 4px 10px var(--primary-color);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

@media (min-width: 950px){
    
    .formacion-titulo{
        font-size: 50px;
    }
    
    .carrera{
        font-size: 30px;
        margin: 20px;
    }
}